* {
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    margin-left: 12px;
    margin-bottom: 24px;
    font-family: "Quicksand", "Trebuchet MS", sans-serif;
    font-weight: 500;
}

.heading a, .prefix a {
    color: #333;
}

a {
    color: #059dc5; /* Blue */
}

a:link {
    text-decoration: none;
}

a:hover  {
    text-decoration: underline;
}

.heading a:hover,
.name a:hover {
    text-decoration: none;
}

.navigation {
    position: fixed;
    margin-left: 2px;
    margin-top: 12px;
}

.container {
    margin-left: 80px;
}

p, td {
    font-size: 10pt;
}

.synopsis {
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 12px;
}

.name {
    font-size: 16pt;
}

.heading {
    font-size: 28px;
}

.synopsis,
.ra_name,
.constant_name {
    font-family: "Consolas", monospace;
}

.ra_name {
    text-align: right;
    width: 120px;
}

.ra_type {
    padding-left: 16px;
    width: 100px;
}

.ra_name, .constant_name {
    font-weight: bold;
}

.function,
.link,
.subsection {
    margin-left: 24px;
}

.module_navigation,
.subsection {
    margin-top: 8px;
}

.constant_description {
    margin-bottom: 8px;
}

.returns_table,
.arguments_table,
.flags_table {
    margin-top: 8px;
    margin-bottom: 4px;
}

table {
    vertical-align: text-top;
}
td {
    vertical-align: top;
}

.name a,
.constant_name {
    color: #E658A0; /* Pink */
}

.returns {
    color: #ab38c1; /* Purple */
}

.arguments {
    color: #ea9b4c; /* Orange */
}

.synopsis_background {
    padding: 2px 5px 2px 5px;
    background-color: #efefef;
    border-radius: 6px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

body {
    background-color: #efefef; /* Grey */
}

.section {
    padding: 12px;
    padding-left: 22px;
    padding-bottom: 16px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: 8px 0 0 8px;
}

.callbacks_section {
    border-radius: 0 0 0 8px;
    padding-top: 0;
}

.slash {
    color: #a7a7a7;
}

.heading,
.name,
.description,
.synopsis {
    margin-bottom: 12px;
}

td {
    padding-top: 8px;
}

.description {
    margin-top: 12px;
}
