body {
  --background-color: #eaeaea;
  --text-color: #333;
  --text-color-dark: #000;
  --text-color-light: #444;
  --text-color-extra-light: #999;
  --link-hover-background-color: #ECF3F7;
  --box-shadow-color: #ddd;
  --nav-background-color: #fff;
  --nav-hover-background-color: #eee;
  --nav-link-color: #7f7f7f;
  --theme-color-pink: #ea316e;
  --theme-color-blue: #25aae1;
  --theme-color-orange: #D86C00;
  --code-background-color: #f7f4f4;
  --code-border-color: #d7d4d4;
  --section-divider-color: #dfdfdf;
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: #222;
    --text-color: #ccc;
    --text-color-dark: #fff;
    --text-color-light: #aaa;
    --text-color-extra-light: #999;
    --link-hover-background-color: #111;
    --box-shadow-color: #111;
    --nav-background-color: #333;
    --nav-hover-background-color: #444;
    --nav-link-color: #aaa;
    --theme-color-pink: #f73b98;
    --theme-color-blue: #25aae1;
    --theme-color-orange: #fd8d1d;
    --code-background-color: #333;
    --code-border-color: #111;
    --section-divider-color: #444;
  }
}
body.light {
  --background-color: #eaeaea;
  --text-color: #333;
  --text-color-dark: #000;
  --text-color-light: #444;
  --text-color-extra-light: #999;
  --link-hover-background-color: #ECF3F7;
  --box-shadow-color: #ddd;
  --nav-background-color: #fff;
  --nav-hover-background-color: #eee;
  --nav-link-color: #7f7f7f;
  --theme-color-pink: #ea316e;
  --theme-color-blue: #25aae1;
  --theme-color-orange: #D86C00;
  --code-background-color: #f7f4f4;
  --code-border-color: #d7d4d4;
  --section-divider-color: #dfdfdf;
}
body.dark {
  --background-color: #222;
  --text-color: #ccc;
  --text-color-dark: #fff;
  --text-color-light: #aaa;
  --text-color-extra-light: #999;
  --link-hover-background-color: #111;
  --box-shadow-color: #111;
  --nav-background-color: #333;
  --nav-hover-background-color: #444;
  --nav-link-color: #aaa;
  --theme-color-pink: #f73b98;
  --theme-color-blue: #25aae1;
  --theme-color-orange: #fd8d1d;
  --code-background-color: #333;
  --code-border-color: #111;
  --section-divider-color: #444;
}
* {
    margin: 0;
    padding: 0;
}

p, td, h1, h2, h3 {
    font-family: "Trebuchet MS", sans-serif;
}

.synopsis, .return_name, .return_type, .argument_name, .argument_type, .constant_name {
    font-family: "Consolas", monospace;
}

/* general content */
body {
  color: var(--text-color);
  background: var(--background-color);
  font-size: 15px;
}
a {
  color: var(--text-color);
}

/* main nav block */
#navigation {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  bottom: 0;
  background: var(--nav-background-color);
  border-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--text-color);
}

/* nav header */
.navigation_header_logo {
  width: 100px;
  display: block;
  margin: 20px auto;
}
.navigation_header p {
  text-align: center;  
}
#navigation select {
  background: transparent;
  margin: auto;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px 10px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.navigation_header {
  background: var(--nav-background-color);
}
#navigation .mobile {
  display: none;
}

/* nav module blocks */
.navigation_container {
  background: var(--nav-background-color);
  min-height: 30px;
  position: relative;
}

/* nav links for each module+type */
.navigation_link {
  font-size: 0.9em;
}
.navigation_link a {
  padding-left: 26px;
  height: 26px;
  display: block;
  line-height: 26px;
  text-decoration: none;
}
.navigation_link a:hover {
  background: var(--nav-hover-background-color);
}
.navigation_type_link a {
  color: var(--text-color-extra-light);
  padding-left: 40px;
}

/* nav expanders for modules */
.expandable_menu .expand {
  position: absolute;
  left: 0px;
  top: 0;
  padding-left: 10px;
  width: 15px;
  height: 26px;
  font-size: 0.9em;
  line-height: 26px;
}
.expandable_menu .expand:hover {
  background: var(--nav-hover-background-color);
  cursor: pointer;
}

/* main doc container */
#container {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
}
.callbacks_title a {
  font-size: 1.8em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--theme-color-pink) !important;
}

/* module sections */
.module_section {
  font-size: 0.9em;
  margin-bottom: 40px;
}
.module_name {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: bold;
}
.module_name a {
  color: var(--theme-color-pink);
}
.module_navigation, .module_section .subsection {
  color: var(--text-color);
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}
.module_section .subsection {
  margin-top: 10px;
}
.module_navigation ~ .module_navigation {
  margin-top: 10px;
}
.function_link, .enum_link, .type_link {
  padding: 2px 0;
}
.function_link a:hover, .enum_link a:hover, .type_link a:hover {
  background: var(--nav-hover-background-color);
  cursor: pointer;
}
.function_link a {  
  color: var(--theme-color-blue);
}
.navigation_links_section {
  background: var(--nav-background-color);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}


/* function blocks */
.function_section {
  background: var(--nav-background-color);
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.2px;
  position: relative;
  color: var(--text-color-light);
}
.function_section .name {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
.function_section .name a {
  color: var(--theme-color-blue);
  text-decoration: none;
}
.function_section .description {
  padding: 0 0 5px 0;
}
.function_section .synopsis {
  padding: 5px;
  font-size: 0.9em !important;
  background: var(--nav-hover-background-color);
  margin-top: 10px;
  color: var(--text-color-dark);
  position: relative;
}
.function_section .synopsis ~ .synopsis {
  margin-top: 32px;
}
.function_section .synopsis ~ .synopsis:before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -18px;
  height: 2px; 
  background: var(--background-color);
}
.function_section .arguments_table,
.function_section .returns_table {
  border-collapse: collapse;
  position: relative;
  margin-top: 30px;
}
.function_section .flags_table {
  border-collapse: collapse;
  position: relative;
  margin-top: 10px;
}
.function_section .arguments_table td,
.function_section .returns_table td,
.function_section .flags_table td{
  border: 2px solid var(--nav-hover-background-color);
  font-size: 0.9em;
  padding: 5px;
}
.function_section .arguments_table td:nth-child(1),
.function_section .returns_table td:nth-child(1),
.function_section .flags_table td:nth-child(1) {
  min-width: 220px; /* wide enough for love.conf params */
  font-size: 12px;
}
.function_section .arguments_table td:nth-child(2),
.function_section .returns_table td:nth-child(2),
.function_section .flags_table td:nth-child(2){
  min-width: 120px;
  font-size: 12px;
}
.function_section .arguments_table:before {
  content: 'Arguments';
  position: absolute;
  top: -1.6em;
  font-size: 0.8em;
  font-family: "Trebuchet MS", sans-serif;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.function_section .returns_table:before {
  content: 'Returns';
  position: absolute;
  top: -1.6em;
  font-size: 0.8em;
  font-family: "Trebuchet MS", sans-serif;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


/* type blocks */
.navigation_section {
  background: var(--nav-background-color);
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.2px;
  position: relative;
  color: var(--text-color-light);
}
.navigation_section .type_name {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
.navigation_section .type_name a {
  color: var(--theme-color-blue);
  text-decoration: none;
}
.navigation_section .description {
  margin-bottom: 15px;
}
.navigation_section .navigation_links_section {
  background: none;
  padding: 0px;
  border-radius: 0px;
  position: initial;
}


/* enum blocks */
.enum_section {
  background: var(--nav-background-color);
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.2px;
  position: relative;
  color: var(--text-color-light);
}
.enum_name {
  font-size: 1.8em;
  color: var(--theme-color-blue) !important;
  font-weight: bold;
  margin-bottom: 10px;
}
.enum_section .constant_name {
  display: inline-block;
  width: 20%;
  padding-bottom: 4px;
}
.enum_section .constant_description {
  display: inline-block;
  width: 79%;
}

/* block labels */
.navigation_links_section:before {
  content: 'module';
  font-family: "Trebuchet MS", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.3;
}
.navigation_section .navigation_links_section:before {
  content: 'type';
  font-family: "Trebuchet MS", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.3;
}
.function_section:before {
  content: 'function';
  font-family: "Trebuchet MS", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.3;
}
.enum_section:before {
  content: 'enum';
  font-family: "Trebuchet MS", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.3;
}


/* initial love block */
.container .module_section:nth-child(1) .navigation_section:nth-child(1) {
  margin-top: 0px !important;
}
.container .module_section:nth-child(1) .navigation_section:nth-child(1) .navigation_links_section:before {
  content: 'love' !important;
}


/* text+link highlighting */
.argument_name, .argument, .type_link, .type_link a, .constant_name, .green, .enum_link, .enum_link a, .enum_name, .enum_name a {
  color: var(--theme-color-blue);
}
.return_name, .return_name a, .return, .return a {
  color: var(--theme-color-orange);
}
.argument_name, .argument_name a, .argument, .argument a {
  color: var(--theme-color-pink);
}
.argument_type, .return_type {
  color: var(--theme-color-orange);
}
.light, .arguments, .returns, .subsection {
    color: var(--theme-color-pink);
}
.return_type a, .argument_type a {
  color: var(--theme-color-blue);
}
.return_type a:hover, .argument_type a:hover {
  background: var(--nav-hover-background-color);
  cursor: pointer;
}
.description a {
  color: var(--text-color);
}


/* theme button + icons */
#theme {
  width: 30px;
  height: 30px;
  top: 0;
  left: 150px;
  position: absolute;
}
#theme:before {
  position: absolute;
  content: '';
  left: 7px;
  top: 7px;
  width: 16px;
  height: 16px;
  background: red;
  pointer-events: none;
  box-sizing: border-box;
}
#theme:after {
  pointer-events: none;
}
#theme.dark:before {
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 1px solid var(--nav-background-color);
  outline: 2px dashed var(--text-color);
  background: var(--text-color);
}
#theme.light:before {
  border-radius: 100px;
  background: var(--text-color);
}
#theme.light:after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  left: 13px;
  top: 7px;
  background: var(--nav-background-color);
  border-radius: 100px;
}
#theme button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--text-color);
  background: none;
  color: var(--text-color);
  border-radius: 5px;
}
#theme button:hover {
  cursor: pointer;
  background: var(--nav-hover-background-color);
}
#theme.light:hover:after {
  background: var(--nav-hover-background-color);
}
#theme.dark:hover:before {
  border-color: var(--nav-hover-background-color);
}
.navigation_header_options {
  position: relative;
}
#navigation select {
  display: inline-block;
  margin-left: 20px;
  width: 120px;
}


/* mobile specific */
@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  #navigation {
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    border-bottom: 10px solid var(--background-color);
  }
  #container {
    left: 0;
    top: 60px;
    padding: 10px;
    overflow-x: hidden;
  }
  #navigation .mobile {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .navigation_header_logo {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
  }
  .navigation_header > p > select {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 155px;
  }
  .navigation_links {
    display: none;
  }
  .function_section .arguments_table td:nth-child(1),
  .function_section .returns_table td:nth-child(1),
  .function_section .flags_table td:nth-child(1) {
    min-width: initial;
    font-size: 11px;
  }
  .function_section .arguments_table td:nth-child(2),
  .function_section .returns_table td:nth-child(2),
  .function_section .flags_table td:nth-child(2){
    min-width: initial;
    font-size: 11px;
  }
  .function_section .arguments_table td:nth-child(3),
  .function_section .returns_table td:nth-child(3),
  .function_section .flags_table td:nth-child(3){
    min-width: initial;
    font-size: 11px;
  }
  .navigation_header_options {
    position: absolute;
    right: 140px;
    top: 10px;
  }
  #theme {
    display: none;
  }
}

/* wider screens */
@media (min-width: 1400px) {
  body { font-size: 16px; } 
}
@media (min-width: 1600px) {
  body { font-size: 17px; } 
}
@media (min-width: 1800px) {
  body { font-size: 18px; } 
}
